@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 20%;
    --foreground: 210 40% 98%;
    --card: 210 20% 25%;
    --card-foreground: 210 40% 98%;
    --popover: 210 20% 25%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 70% 50%;
    --primary-foreground: 210 85% 95%;
    --secondary: 210 20% 30%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 20% 30%;
    --muted-foreground: 210 20% 60%;
    --accent: 240 80% 60%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 35%;
    --input: 210 20% 35%;
    --ring: 210 70% 50%;
    --chart-1: 210 70% 50%;
    --chart-2: 240 80% 60%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 210 20% 20%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 70% 50%;
    --sidebar-primary-foreground: 210 85% 95%;
    --sidebar-accent: 210 20% 30%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 210 20% 35%;
    --sidebar-ring: 210 70% 50%;
  }
 
  .dark {
    --background: 210 20% 20%;
    --foreground: 210 40% 98%;
    --card: 210 20% 25%;
    --card-foreground: 210 40% 98%;
    --popover: 210 20% 25%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 70% 50%;
    --primary-foreground: 210 85% 95%;
    --secondary: 210 20% 30%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 20% 30%;
    --muted-foreground: 210 20% 60%;
    --accent: 240 80% 60%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 35%;
    --input: 210 20% 35%;
    --ring: 210 70% 50%;
    --chart-1: 210 70% 50%;
    --chart-2: 240 80% 60%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 210 20% 20%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 70% 50%;
    --sidebar-primary-foreground: 210 85% 95%;
    --sidebar-accent: 210 20% 30%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 210 20% 35%;
    --sidebar-ring: 210 70% 50%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
